/* Dropdown styles */

.nav-link {
  padding: 0 20px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 0px; */
  color: var(--text-dark-color);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.nav-link-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 30px;
}
.nav-link-title .dropdown-icon {
  font-size: larger;
  color: var(--light-primary-color);
}
.nav-link:hover {
  background-color: var(--dark-secondary-color);
}
.submenu {
  display: none;
  padding: 10px 0;
  /* background-color: var(--dark-secondary-color); */
  flex-direction: column;
  gap: 10px;
}
.submenu .submenu-link {
  cursor: pointer;
  font-size: small;
  padding: 10px 10px 10px 60px;
  color: var(--text-dark-color);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.submenu .submenu-link .dot-icon {
  font-size: medium;
}
/* .submenu .submenu-link:hover {
  background-color: var(--dark-primary-color);
} */
.active-dropdown {
  background-color: var(--dark-secondary-color);
}
