/* Dropdown styles */
.dropdown {
  position: relative;
  padding: 0 10px;
}
.nav-link {
  padding: 0 20px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-dark-color);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.nav-link-title {
  font-size: small;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  gap: 10px;
}
.nav-link-title .dropdown-icon {
  min-width: 20px;
  color: var(--light-primary-color);
}
.nav-link:hover {
  color: var(--text-dark-color);
  background-color: var(--dark-menu-bg-hover);
}
.submenu {
  overflow: hidden;
  display: none;
  padding: 20px 0;
  flex-direction: column;
  background-color: var(--dark-menu-bg-hover);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.submenu .submenu-link {
  cursor: pointer;
  font-size: small;
  padding: 15px 15px 15px 50px;
  color: var(--text-dark-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.submenu .submenu-link .dot-icon {
  font-size: medium;
}


