/* Dropdown styles */
.dropdown {
  position: relative;
}
.nav-link {
  padding: 0 20px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 0px; */
  color: var(--text-dark-color);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.nav-link-title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 15px;
}
.nav-link-title .dropdown-icon {
  font-size: 16px;
  min-width: 20px;
  color: var(--light-primary-color);
}
.nav-link:hover {
  color: var(--text-dark-color);
  background-color: var(--dark-secondary-color);
}
.submenu {
  display: none;
  padding: 10px 0;
  flex-direction: column;
  /* position: absolute;
  left: 310%;
  top: 0;
  z-index: 999; */
  /* background-color: brown; */
  /* gap: 10px; */
}

.submenu .submenu-link  {
  cursor: pointer;
  font-size: small;
  padding: 10px 10px 10px 60px;
  color: var(--text-dark-color);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.submenu .submenu-link.closed {
  padding: 10px 10px 10px 20px;
}
.submenu .submenu-link .dot-icon {
  font-size: medium;
}

.active-dropdown {
  background-color: var(--dark-secondary-color);
}
