.box-line-chart {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.box-line-chart .box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.box-line-chart .box-info .title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.box-info .view-all {
    font-weight: bold;
    cursor: pointer;
}
.box-line-chart .box-chart {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.box-line-chart .box-chart .chart {
    width: 100%;
    height: 100%;
}
.box-chart .duration {
    color: orange;
}