nav {
  background-color: var(--light-primary-color);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
}
.menu-icon {
  font-size: large;
  cursor: pointer;
}
