footer {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-primary-color);
  position: sticky;
  bottom: 0;
  width: 100%;
}
